body {
  background-color: #f0f2f5;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
::placeholder {
  opacity: 0.5 !important;
}

.message-content {
  background-color: rgba(82, 82, 100, 0.824);
  color: white;
  border-radius: 25px;

  
  display: inline-block;
  max-width: 200px;
  padding: 10px 15px;
}

.message-content p {
  margin-bottom: 0;
}

.small {
  font-size: smaller;
  opacity: 0.8;
}

.user-message {
  background-color: rgba(34, 160, 27, 0.651);
}

.chat-window {
  height: 500px;
}
